<div class="jumbotron">
  <div class="container">
    <%= image_tag "UGA/uga-arch.jpg" %>
    <div class="jumbotron-headline">
      <h1>Quint State</h1>
      <h3>Southeastern Symposium on Child and Family Sciences</h3>
    </div>
  </div>
</div>

<div class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">It's time to get involved.</h2>
        <p>Welcome all visiting schools to the Quint State conference. The schedule for the weekend is up-to-date and can be found <%= link_to 'here', schedule_path, class: 'red-link' %>. For any questions please check the FAQ section or contact us at quintstateuga@gmail.com. </p>
      </div>
    </div>
  </div>
</div>

<div class="school-information">
  <div class="container">
    <div class="row">
        <div class="col-md-4"><%= image_tag "UGA/thick4c.jpg" %></div>
        <div class="col-md-7 col-md-push-1">
          <h2>University of Georgia</h2>
          <h5>Department of Human Development and Family Sciences</h5>
          <a href="http://spock.fcs.uga.edu/cfd/mft/">HDFS Department</a>&nbsp;|&nbsp;<a href="http://uga.edu/">UGA Homepage</a>
        </div>
    </div>
  </div>
</div>
