<div class="jumbotron">
  <div class="container">
    <%= image_tag "UGA/uga-arch.jpg" %>
    <div class="jumbotron-headline">
      <h1>Quint State</h1>
      <h3>Southeastern Symposium on Child and Family Sciences</h3>
    </div>
  </div>
</div>

<div class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">Are you ready to get involved?</h2>
        <p>At this time Quint State registration is closed. If you have any questions pleaase send us a message through our contact form. An official schedule for the conference will be available February 1, 2015.</p>
      </div>
    </div>
  </div>
</div>

<div class="school-information">
  <div class="container">
    <div class="row">
        <div class="col-md-4"><%= image_tag "UGA/thick4c.jpg" %></div>
        <div class="col-md-7 col-md-push-1">
          <h2>University of Georgia</h2>
          <h5>Department of Human Development and Family Sciences</h5>
          <a href="http://spock.fcs.uga.edu/cfd/mft/">HDFS Department</a>&nbsp;|&nbsp;<a href="http://uga.edu/">UGA Homepage</a>
        </div>
    </div>
  </div>
</div>
