.container-fluid,
.container {
    max-width: 1170px;
    margin:0 auto;
    img {
        height: auto;
        width:100%;
    }
}

// Sticky footer awesomeness!
@include sticky-footer (45px, '.main-content', '.footer');


a {
    &:hover {
        text-decoration: none;
    }
}
.footer {
    color: #a9a9a9;
}

.main-content {
    background-color: #eee;
    > .container-fluid,
    > .container {
        padding-top:75px;
    }


    h4 {
        line-height: 1.5;
        margin-bottom: 10px;
    }
    form {
        margin: 30px 0;

        .actions {
            .btn {
                float:none;
            }
        }
    }
    hr {
        border-top: 1px solid #ddd;
    }
    .form-horizontal {
        @extend .well;
    }

}


