.form-horizontal {
    label {
        @extend .col-sm-2;
    }
    input,
    textarea,
    select {
        @extend .col-sm-6;
    }
    .radio-inline {
        margin-bottom: 15px;
        text-align: left;
        width:auto;
    }
    input[type=radio] {
        left: 15px;
        width: 20px;
    }
}
