.navbar {

    #logo {
        color: #dedede;
        font-size: 36px;
        letter-spacing: -0.025em;

        &:hover {
            color:#efefef;
            text-decoration: none;
        }
    }
    small {
        color: #a9a9a9;
        position: relative;
        margin-left: 5px;
    }
    .nav {
        li a {
            color: #a9a9a9;
        }
    }
}
