h2 {
    margin-bottom: 20px;
}
.call-to-action {
    @extend %uga-bg-red;
    padding-top:20px;
    padding-bottom: 30px;

    p {
        font-size: 18px;
        line-height: 28px;
    }

    .call-to-action-button-group {
        margin-top:30px;
        // text-align: center;

        .btn-danger {
            border-color:#c82e29;
            font-size: 18px;
            margin: 0 10px 0 0;
        }
    }
}
.school-information {
    padding: 50px 0;

    h2 {
        margin-top:10px;
    }
}

.jumbotron {
    margin-bottom: 0;
    text-align: center;
    padding-bottom: 0;

    .container {
        position: relative;
    }
    .jumbotron-headline {
        position: absolute;
        top: 30%;
        left: 15px;
        right: 15px;
        background: rgba(204,204,204,0.8);

        h1 {
            font-size:76px;
        }
    }
}
.red-link {
    color: #fff;
    border-bottom: 1px solid #fff;
    &:hover {
        color: #ddd;
        text-decoration: none;
    }
}
